.commit-viewer-container {
  height: 300px; 
  max-width: 1280px; 
  margin: 30px auto 20px auto;
  display: flex;
  flex-direction: row;
}

.commit-viewer-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.commit-viewer-error {
  display: flex;
  flex-direction: column;
  padding: 0 15% 0 15%;
  color: #ff0000;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.commit-viewer-control-component {
  display: flex;
  flex-direction: row;
  
  width: 35%;
}

.commit-viewer-chart {
  width: 100%;
  height: 250px;
}

.commit-viewer-right {
  width: 400px;
  height: 100px;
  margin: 100px 30px 0 10px;
}